<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973082480529-6n0euumhdon7c6m8r0bqp9549citetcc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973082480529-6n0euumhdon7c6m8r0bqp9549citetcc</string>
	<key>API_KEY</key>
	<string>AIzaSyA1QAaRErCX46_N2MdSEYJy4sI69iRshSE</string>
	<key>GCM_SENDER_ID</key>
	<string>973082480529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week18</string>
	<key>PROJECT_ID</key>
	<string>week18-db625</string>
	<key>STORAGE_BUCKET</key>
	<string>week18-db625.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973082480529:ios:46ab0c8aa25f2982035430</string>
</dict>
</plist>